.wrap{
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

/* HEAD */
.header2{
    position: relative;
    height: 110px;
}

.headContainer{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition:all .2s;
    background-color: #fff;
    z-index: 999;
}

.headContainer.off{
    top: -111px;
}

.headInner{
    height: 110px;
    padding: 30px 0;
    width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.headInner .logo img{
    width: 192px;
    height: 50px;
}

.main_nav{
    display: flex;
    gap: 50px;
}

.main_nav li{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.side_nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.subscribe{
    width: 88px;
    height: 36px;
    margin-right: 40px;
    background: #000;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #fff;
    text-align: center;
}


/* MENU */
.menu{
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.fashion{
    margin-top: 80px;
    margin-bottom: 35px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing : 5px;
}

.tab{
    display: flex;
    justify-content: center;
    gap: 35px;
    color: #888;
}

.tab li{
    font-size: 16px;
    font-weight: 400;
}

.tab .active{
    font-weight: 700;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    color: #000;
}

/* FASHION_SE */
.fashion_se{
    margin-top: 80px;
    position: relative;
}

/* ARTICLE */
.article {
    width: 1600px;
    height: 2920px;
    margin: 0 auto;
    position: relative;
    margin-top: 80px;
}

.main{
    width: 1210px;
}

/* FIRST */

.first{
    margin-bottom: 160px;
}

.first_content{
    width: 100%;
    height: 747px;
    display: flex;
    margin-bottom: 160px;
}

.first_left{
    width: 492px;
    height: 747px;
    margin-right: 15px;
    position: relative;
}

.first_left .gra{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 373px;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.first_text{
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 80px;
    color: #fff;
}

.first_text .box_text{
    font-size: 17px;
    display: flex;
    margin-bottom: 30px;
}

.first_text .box_text .date::before{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: #fff;
    content: '';
}

.first_text .box_text .date{
    font-weight: 200;
    color: rgba(255,255,255,0.5);
}

.first_text .main_text h3{
    font-size: 32px;
}

.first_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first_right{
    flex: 1;
}

.first_right .story{
    width: 689px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left:15px;
    gap: 20px 15px;
}

.first_right .story li{
    width: 314px;
}

.first_right .story li img{
    width: 314px;
    height: 206px;
    object-fit: cover;
}


/* #floatMenu */
.sideMenu {
    position: absolute;
    text-align: right;
    width: 1600px;
    top: 0px;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 998;
  }
  
  .sideMenu.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .sideMenu .img {
    width: 300px;
    height: 600px;
    background-image: url(../images/ad.jpg);
    float: right;
  }
  
  .section2 {
    height: 5000px;
  }

/* TRAEAND */
.trend{
    margin-bottom: 160px;
}

.trendlist {
    display: flex;
    width: 377px;
    gap: 30px;
}

.trendlist img {
    width: 373px;
    height: 246px;
    object-fit: cover;
}

@media (max-width: 768px){

/* HEAD */
.header2{
    height: 113px;
}

.headContainer{
    padding: 5.3vw 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    height: 113px;
    transform: translateX(-50%);
    transition:all .2s;
    background-color: #fff;
    z-index: 999;
    border-bottom: 1px solid #eee;
}

.headContainer.off{
    top: -113px;
}

.headInner{
    height: 87px;
    padding: 0 24px;
    max-width: 375px;
    margin: 0;
    align-items: initial;
    border-bottom: initial;
    position: relative;
}

.logo{
    margin: 0;
    width: 127px;
    height: 33px;
    float: left;
}

.headInner .logo img{
    width: 100%;
    height: 100%;
}

.main_nav{
    gap: 20px;
    margin-top: 0px;
}

.nav{
    overflow-x: scroll;
}

.nav::-webkit-scrollbar{
    display: none;
}

.main_nav li{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.side_nav{
    position: absolute;
    top: 5px;
    right: 24px;
}

.subscribe{
    display: none;
}


/* MENU */
.menu{
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.fashion{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing : 5px;
}

.tab_menu{
    width: 100%;
    overflow-x: scroll;
}

.tab_menu::-webkit-scrollbar{
    display: none;
}

.tab{
    display: flex;
    justify-content: initial;
    gap: 14px;
    width: 200%;
    overflow-x: scroll;
    margin-left: 24px;
    color: #888;
}

.tab li{
    font-size: 16px;
    font-weight: 400;
}

.tab .active{
    font-weight: 700;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    color: #000;
}

/* FASHION_SE */
.fashion_se{
    margin-top: 80px;
    position: relative;
}

/* ARTICLE */
.article {
    max-width: 375px;
    height: 2347px;
    margin: 0 auto;
}

.main{
    width: 1210px;
}

/* FIRST */
.section{
    margin: 0 24px;
}

.first{
    margin-bottom: 70px;
}

.first_content{
    max-width: 327px;
    height: 900px;
    display: block;
    margin-bottom: 70px;
    margin-top: 50px;
}

.first_left{
    width: 327px;
    height: 409px;
    margin-right: 0px;
    margin-bottom: 30px;
}

.first_left .gra{
    height: 204px;
}

.first_text{
    left: 20px;
    right: 20px;
    bottom: 40px;
    width: 100%;
}

.first_text .box_text{
    font-size: 14px;
    margin-bottom: 10px;
}

.first_text .box_text .date::before{
    margin: 0 10px;
}

.first_text .main_text h3{
    font-size: 20px;
}

.first_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first_right .story{
    width: initial;
    display: block;
    margin-left:0px;
    gap: 0px;
}

.first_right .story li{
    margin-bottom: 15px;
}

.first_right .story li a{
    display: flex;
    gap: 15px;
}

.first_right .story li img{
    width: 147px;
    height: 103px;
    object-fit: cover;
}

.story .section_text h4{
    width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



/* #floatMenu */
.sideMenu {
    display: none;
  }

/* TRAEAND */
.trend{
    margin: 0 24px;
    margin-bottom: 60px;
}

.trendlist {
    display: block;
    width: 100%;
    gap: 30px;
}

.trendlist li{
    margin-bottom: 15px;
}

.trendlist li a{
    display: flex;
    gap: 15px;
}

.trendlist img {
    width: 147px;
    height: 103px;
    object-fit: cover;
}

.trend .section_text h4{
    width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


}

@media (min-width: 768px){}