.wrap{
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

/* HEAD */
.header2{
    position: relative;
    height: 110px;
}

.headContainer{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition:all .2s;
    background-color: #fff;
    z-index: 999;
}

.headContainer.off{
    top: -111px;
}

.headInner{
    height: 110px;
    padding: 30px 0;
    width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.headInner .logo img{
    width: 192px;
    height: 50px;
}

.main_nav{
    display: flex;
    gap: 50px;
}

.main_nav li{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.side_nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.subscribe{
    width: 88px;
    height: 36px;
    margin-right: 40px;
    background: #000;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #fff;
    text-align: center;
}


/* MENU */
.menu{
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.fashion{
    margin-top: 80px;
    margin-bottom: 35px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing : 5px;
}

.tab{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.tab li{
    font-size: 16px;
    font-weight: 400;
}

.tab .active{
    font-weight: 700;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

/* FASHION_SE */
.fashion_se{
    margin-top: 80px;
    position: relative;
}

/* ARTICLE */
.article {
    width: 1600px;
    height: 2920px;
    margin: 0 auto;
    position: relative;
    margin-top: 80px;
}

.main{
    width: 1210px;
}

/* FIRST */

.first{
    margin-bottom: 160px;
}

.first_content{
    width: 100%;
    height: 747px;
    display: flex;
    margin-bottom: 160px;
}

.first_left{
    width: 492px;
    height: 747px;
    margin-right: 15px;
    position: relative;
}

.first_left .gra{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 373px;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.first_text{
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 80px;
    color: #fff;
}

.first_text .box_text{
    font-size: 17px;
    display: flex;
    margin-bottom: 30px;
}

.first_text .box_text .date::before{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: #fff;
    content: '';
}

.first_text .box_text .date{
    font-weight: 200;
    color: rgba(255,255,255,0.5);
}

.first_text .main_text h3{
    font-size: 32px;
}

.first_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first_right{
    flex: 1;
}

.first_right .story{
    width: 689px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left:15px;
    gap: 20px 15px;
}

.first_right .story li{
    width: 314px;
}

.first_right .story li img{
    width: 314px;
    height: 206px;
    object-fit: cover;
}


/* #floatMenu */
.sideMenu {
    position: absolute;
    text-align: right;
    width: 1600px;
    top: 0px;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 998;
  }
  
  .sideMenu.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .sideMenu .img {
    width: 300px;
    height: 600px;
    background-image: url(../images/ad.jpg);
    float: right;
  }
  
  .section2 {
    height: 5000px;
  }

/* TRAEAND */
.trend{
    margin-bottom: 160px;
}

.trendlist {
    display: flex;
    width: 377px;
    gap: 30px;
}

.trendlist img {
    width: 373px;
    height: 246px;
    object-fit: cover;
}