/* HEADER */
.header{
    position: relative;
    height: 209px;
}

.headContainer {
    padding: 40px 0 37px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    height: 209px;
    transform: translateX(-50%);
    transition:all .2s;
    background-color: #fff;
    z-index: 999;
}

.headContainer.off{
    top: -290px;
}

.headInner{
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

.header .logo{
    margin: 0 auto;
    width: 270px;
    height: 70px;
}

.header .nav{
    width: 100%;
    margin-top: 38px;
}

.header .main_nav{
    display: flex;
    justify-content: center;
    gap: 46px;
}

.header .main_nav li{
    /* margin-right: 46px; */
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.header .side_nav{
    position: absolute;
    top: 17px;
    right: 0;
    display: flex;
}

.header .side_nav .subscribe{
    background-color: black;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 14px;
    margin-right: 40px;
}

.header .side_nav .nav_icon{
    margin-top: 6px;
}


/* gnb */
/* .gnb{
    background-color: #000;
}

.close{
    width: 29px;
    height: 29px;
} */


/* SECTION */
.wrap{
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

.gnb .search input{
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    font-weight: 700;
    color: #fff;
}

/* SPOT */

.spot{
    position: relative;
    margin-bottom: 160px;
}

.spot .gra{
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.spot img{
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.spot_text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    text-align: center;
    color: #fff;
}

.spot_text .sub_text{
    display: flex;
    justify-content: center;
    font-size: 17px;
}

.spot_text .sub_text .date{
    font-weight: 200;
    color: #d9d9d9;
}

.spot_text .sub_text .date::before{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: #fff;
    content: '';
}

.spot_text .main_text{
    margin-top: 35px;
    font-weight: 700;
    font-size: 48px;
}

/* TODAY */

.today{
    margin-bottom: 160px;
}

.today_content{
    width: 100%;
    height: 957px;
    display: flex;
}

.today_left{
    width: 638px;
    height: 957px;
    margin-right: 15px;
    position: relative;
}

.today_left .gra{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 478px;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.today_text{
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 80px;
    color: #fff;
}

.today_text .box_text{
    font-size: 17px;
    display: flex;
    margin-bottom: 30px;
}

.today_text .box_text .date::before{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: #fff;
    content: '';
}

.today_text .box_text .date{
    font-weight: 200;
    color: rgba(255,255,255,0.5);
}

.today_text .main_text h3{
    font-size: 32px;
}

.today_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.today_right{
    flex: 1;
}

.today_right .story{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left:15px;
    gap: 70px 30px;
}

.today_right .story li img{
    width: 451px;
    height: 298px;
    object-fit: cover;
}


/* BEST */
.best{
    position: relative;
    margin-bottom: 160px;
    height: 506px;
}

.best::before{
    position: absolute;
    left: 50%;
    top: 180px;
    width: 100vw;
    height: 377px;
    background-color: #f5f5f5;
    content: '';
    transform:translateX(-50%);
    z-index: -1;
}

.best .maintext{
    display: flex;
    justify-content: space-between;
}

.best_btn{
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.swiper-wrapper {
    position: absolute;
    width: 150%;
    left: 0;
    overflow: visible;
}

.best .bestSwiper {
    overflow: visible;
}

.best_content .swiper-slide{
    margin-right: 30px;
}

.swiper-wrapper .swiper-slide img{
    width: 378px;
    height: 249px;
}

.active{
    opacity: 0.3;
}

/* MUST */
.must{
    margin-bottom: 160px;
}

.mustlist {
    display: flex;
    width: 377px;
    gap: 30px;
}

.mustlist img {
    width: 377px;
    height: 377px;
    object-fit: cover;
}


/* HOT */
.hot{
    position: relative;
    padding-top: 80px;
    margin-bottom: 160px;
}

.hot::before{
    position: absolute;
    left: 50%;
    top: 0;
    width: 100vw;
    height: 377px;
    background-color: #f5f5f5;
    content: '';
    transform:translateX(-50%);
    z-index: -1;
}

.hotList{
    display: flex;
    justify-content: space-between;
}

.hotList li{
    width: 377px;
}

.hotList li .keyword{
    font-weight: 700;
    font-size: 24px;
    color: #888;
    margin-top: 40px;
    margin-bottom: 35px;
}

.hotList li .maintext{
    text-decoration: underline;
}

.hotList img{
    width: 100%;
    height: 377px;
    justify-content: center;
}

/* FASHION */

.fashion{
    margin-bottom: 160px;
}

.fashion .maintext{
    display: flex;
    justify-content: space-between;
}

.fashion .maintext .more{
    display: flex;
    align-items: end;
}
.fashion .maintext .more p{
    font-size: 13px;
    color: #666;
    margin-right: 4px;
}

.fashion .maintext .more img{
    margin-bottom: 3px;
}

.fashion_content{
    width: 100%;
    height: 957px;
    display: flex;
}

.fashion_right{
    width: 638px;
    height: 957px;
    margin-left: 15px;
    position: relative;
}

.fashion_right .gra{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 478px;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}


.fashion_right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fashion_text{
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 80px;
    color: #fff;
}

.fashion_text .box_text{
    font-size: 17px;
    display: flex;
    margin-bottom: 30px;
}

.fashion_text .box_text .date::before{
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background-color: #fff;
    content: '';
}

.fashion_text .box_text .date{
    font-weight: 200;
    color: rgba(255,255,255,0.5);
}

.fashion_text .main_text h3{
    font-size: 32px;
}

.fashion_left{
    flex: 1;
}

.fashion_left .story{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right:15px;
    gap: 70px 30px;
}

.fashion_left .story li img{
    width: 451px;
    height: 298px;
    object-fit: cover;
}
/* 모바일 */
@media (max-width: 768px){
/* HEADER */
.header{
    /* position: relative; */
    height: 113px;
}

.headContainer {
    padding: 5.3vw 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    height: 113px;
    transform: translateX(-50%);
    transition:all .2s;
    background-color: #fff;
    z-index: 999;
}

.headContainer.off{
    top: -113px;
}

.headInner{
    max-width: 375px;
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    /* position: relative; */
}

.header .logo{
    margin: 0;
    width: 127px;
    height: 33px;
    float: left;
}

.header .logo img{
    width: 100%;
    height: 100%;
}

.header .nav{
    /* width: 100%; */
    /* margin-top: 38px; */
    /* display: table; */
    overflow-x: scroll;
}

.nav::-webkit-scrollbar{
    display: none;
}

.header .main_nav{
    /* display: flex; */
    /* justify-content: center; */
    justify-content: initial;
    gap: 20px;
    margin-top: 15px;
}

.header .main_nav li{
    /* margin-right: 46px; */
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.header .side_nav{
    /* position: absolute; */
    top: 0px;
    right: 24px;
    /* display: flex; */
}

.header .side_nav .subscribe{
    display: none;
    /* background-color: black;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 14px;
    margin-right: 40px; */
}

.header .side_nav .nav_icon{
    margin-top: 6px;
}

.wrap_2{
    max-width: 375px;
    margin: 0 24px;
}


/* SPOT */

.spot{
    /* position: relative; */
    margin-top: 0px;
    margin-bottom: 70px;
}

.spot .gra{
    /* position: absolute; */
    /* bottom: 3px; */
    /* width: 100%; */
    height: 242px;
    /* background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); */
}

.spot img{
    width: 100%;
    height: 484px;
    object-fit: cover;
}

.spot_text{
    width: 100%;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    bottom: 40px;
    /* text-align: center; */
    /* color: #fff; */
}

.spot_text .sub_text{
    /* display: flex; */
    /* justify-content: center; */
    font-size: 14px;
}

.spot_text .sub_text .date{
    /* font-weight: 200; */
    /* color: #d9d9d9; */
}

.spot_text .sub_text .date::before{
    /* display: inline-block; */
    /* width: 1px; */
    /* height: 12px; */
    /* margin: 0 12px; */
    /* background-color: #fff; */
    /* content: ''; */
}

.spot_text .main_text {
    margin-top: 10px;
}

.spot_text .main_text h2{
    /* font-weight: 700; */
    font-size: 26px;
}

    

/* TODAY */

.today{
    margin-bottom: 70px;
}

.today .maintext{
    font-size: 26px;
    margin-bottom: 15px;
}

.today_content{
    /* width: 100%; */
    height: 900px;
    display: block;
}

.today_left{
    width: 327px;
    height: 409px;
    margin-right: 0px;
    margin-bottom: 30px;
    /* position: relative; */
}

.today_left .gra{
    /* position: absolute; */
    /* bottom: 0; */
    /* width: 100%; */
    height: 204px;
    /* background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); */
}

.today_text{
    /* position: absolute; */
    left: 20px;
    right: 20px;
    bottom: 40px;
    width: 100%;
    /* color: #fff; */
}

.today_text .box_text{
    font-size: 14px;
    /* display: flex; */
    margin-bottom: 10px;
}

.today_text .box_text .date::before{
    /* display: inline-block; */
    /* width: 1px; */
    /* height: 12px; */
    margin: 0 10px;
    /* background-color: #fff; */
    /* content: ''; */
}

.today_text .box_text .date{
    /* font-weight: 200; */
    /* color: rgba(255,255,255,0.5); */
}

.today_text .main_text h3{
    font-size: 20px;
}

.today_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.today_right{
    /* flex: 1; */
}

.today_right .story{
    display: block;
    /* grid-template-columns: repeat(2,1fr); */
    margin-left: 0;
    gap: 0;
}

.today_right .story li{
    margin-bottom: 15px;
}

.today_right .story li a{
    display: flex;
    gap: 15px;
}

.today_right .story li img{
    width: 147px;
    height: 103px;
    object-fit: cover;
}


/* BEST */

.best{
    /* position: relative; */
    margin-bottom: 70px;
    height: 306px;
    /* display: none; */
}

.best::before{
    display: none;
    /* position: absolute;
    left: 50%;
    top: 180px;
    width: 100vw;
    height: 377px;
    background-color: #f5f5f5;
    content: '';
    transform:translateX(-50%);
    z-index: -1; */
}

.best .maintext{
    /* display: flex; */
    /* justify-content: space-between; */
}

.best_btn{
    display: none;
    /* gap: 30px; */
    /* cursor: pointer; */
}

.swiper-wrapper {
    /* position: absolute; */
    /* width: 150%; */
    /* left: 0; */
    /* overflow: visible; */
}

.best .bestSwiper {
    /* overflow: visible; */
    overflow-x: hidden;
}

.best_content .swiper-slide{
}

.swiper-slide {
    flex-shrink: initial !important ;
}

.swiper-wrapper .swiper-slide img{
    width: 239px;
    height: 157px;
    margin-bottom: 15px;
}

.swiper-slide a{
    display: block;
    width: 239px;
}

.swiper-slide .section_text{
    width: 239px;
}

.active{
    opacity: 0.3;
}

/* MUST */

.must{
    margin-bottom: 70px;
}

.mustlist {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 157px;
    gap: 12px;
}

.mustlist img {
    width: 157px;
    height: 157px;
    object-fit: cover;
    margin-bottom: 12px;
}

/* HOT */

.hot{
    /* position: relative; */
    padding-top: 70px;
    margin-bottom: 140px;
}

.hot::before{
    /* position: absolute; */
    /* left: 50%; */
    /* top: 0; */
    /* width: 100vw; */
    height: 647px;
    /* background-color: #f5f5f5; */
    /* content: ''; */
    /* transform:translateX(-50%); */
    /* z-index: -1; */
}

.hotList{
    display: block;
    /* justify-content: space-between; */
}

.hotList li{
    width: 327px;
}

.hotList li .keyword{
    /* font-weight: 700; */
    font-size: 14px;
    /* color: #888; */
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.hotList li .maintext{
    text-decoration: underline;
    font-size: 26px;
    text-align: center;
    margin-bottom: 36px;
}

.hotList img{
    width: 121px;
    height: 121px;
    margin-right: 18px;
    /* justify-content: center; */
}

.hotList li a{
    display: flex;
    margin-bottom: 15px;
}

.hot .section_text {
    margin-top: 5px;
}

.hot .section_text h4{
    width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* FASHION */
.fashion{
    margin-bottom: 70px;
}

.fashion .maintext{
    font-size: 26px;
    margin-bottom: 15px;
}

.fashion_content{
    /* width: 100%; */
    height: 900px;
    display: block;
    display: flex;
    flex-direction: column;
}

.fashion_right{
    width: 327px;
    height: 409px;
    margin-left: 0px;
    margin-bottom: 30px;
    order: 1;
    /* position: relative; */
}

.fashion_right .gra{
    /* position: absolute; */
    /* bottom: 0; */
    /* width: 100%; */
    height: 204px;
    /* background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); */
}

.fashion_text{
    /* position: absolute; */
    left: 20px;
    right: 20px;
    bottom: 40px;
    /* width: 100%; */
    /* color: #fff; */
}

.fashion_text .box_text{
    font-size: 14px;
    /* display: flex; */
    margin-bottom: 10px;
}

.fashion_text .box_text .date::before{
    /* display: inline-block; */
    /* width: 1px; */
    /* height: 12px; */
    margin: 0 10px;
    /* background-color: #fff; */
    /* content: ''; */
}

.fashion_text .box_text .date{
    /* font-weight: 200; */
    /* color: rgba(255,255,255,0.5); */
}

.fashion_text .main_text h3{
    font-size: 20px;
}

.fashion_right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fashion_left{
    /* flex: 1; */
    order: 2;
}

.fashion_left .story{
    display: block;
    /* grid-template-columns: repeat(2,1fr); */
    margin-right: 0;
    gap: 0;
}

.fashion_left .story li{
    margin-bottom: 15px;
}

.fashion_left .story li a{
    display: flex;
    gap: 15px;
}

.fashion_left .story li img{
    width: 147px;
    height: 103px;
    object-fit: cover;
}

.fashion .section_text h4{
    width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

}

@media (min-width: 768px){}